<a href="https://colab.research.google.com/github/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/blob/master/notebooks/8-Pandas_Excercise_with_UPRM_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Importing Libraries

This only needs to be run once!!

Pandas is a Python library used for data manipulation and analysis of numerical tables and time series. Since we will be working with tabulated data we can take advantage of Pandas' extensive modularity and variety of methods to work with tables.

In [ ]:
import pandas as pd  # This imports the Pandas Library and gives it a reference name to access pandas and it's methods

## Loading in Data

There are 3 main ways to upload and access data in Google Colab:


1.   From Google Drive (mounting the drive)
2.   Directly from your computer
3.   Store that data somewhere in the internet and specify it's url (**our method**)

We are loading a csv file with information about Physics courses that are offered for this semester at UPRM

### Method 1: Google Drive

In [ ]:
# Data in a Google Drive
from google.colab import drive
drive.mount('/content/drive')
data_in_drive="/content/drive/MyDrive/UPRM/STEM Workshop/Feb 2021/Data/emr_horario1_table_data.csv"


df=pd.read_csv(data_in_drive,
               encoding="iso8859",
               na_values="-") 
df

### Method 2: Upload from computer

In [ ]:
# Or just upload the data from your computer to the Session
data = "emr_horario1_table_data.csv"

df=pd.read_csv(data,
               na_values="-") 
df

### Method 3: Load from Internet

define where the data is located as a string and store it in a variable. 
for example: 
`data='data_location' (using single or double quotes)`


**Important** 

Always look at your data beforehand. Be familiar with the structure and what it contains.

Also, in case you want to do this with your students, the easiest way is to have the data stored somewhere on the internet and have a link that your students can access. In our case this would be to store the file in a Github Repository and we will access it from there as follows

In [ ]:
# Our method (From Internet)
data_url="https://raw.githubusercontent.com/GuillermoFidalgo/Python-for-STEM-Teachers-Workshop/master/data/emr_horario1_table_data.csv"


#here we load the csv file and specify which row is a header and what is considered as N/A value
df=pd.read_csv(data_url,
               na_values="-",
               encoding="utf8")
# normally we don't specify this. To figure out if you need to specify this or not, look at the data.
# usual names of encoders are iso8859, utf8 and ascii

# For more information about each argument you could hover your cursor over the function until a window appears
# you could also put your cursor INSIDE the function and press Ctrl+Shift+Space

## Let's look at the first 5 entries of the data

In [ ]:
df.head()

We don't need the "Semester" and the "?" columns. Let's filter them out

In [ ]:
# This gives us the names of the colums available
print(df.columns)

 We want so know some info about the data

In [ ]:
relevant=df[['Course',"Course Name",'Section','Credits',"Professor"]]
print(relevant.info())

Pandas can automatically convert the data in each column inteligently by looking at the entries in each column. (In our case from `Object` to `String`

In [ ]:
relevant=relevant.convert_dtypes() #This converts the data

# Now we can verify and see the information that our dataframe contains
print(relevant.info())

Now that we have the appropiate format we can choose the columns we want to look at, say "Professor" and "Credits". And we can also filter the incomplete entries by using the `dropna()` method

In [ ]:
prf_and_cred=relevant[["Professor","Credits"]].dropna()
prf_and_cred.count() #This shows the amount of entries left

Let's look at the data we have left

In [ ]:
prf_and_cred

# Formatting

We want to know a few things:
- How many professors we have
- How many sections (groups) are they teaching
- How many credits they have

First we could sort the lists alfabetically (but counting all of those by hand is a bit tedious)

In [ ]:
sorted=prf_and_cred.sort_values(by="Professor")
sorted

A smart way to count the amount of professors available is to count them by their unique name.
Let's extract the information from the list of names and count them

In [ ]:


Cred=sorted["Credits"]
Prof=sorted["Professor"]


# Non sorted
# Cred=prf_and_cred["Credits"]

# Prof=prf_and_cred["Professor"]

## How many professors do we have ?

In [ ]:
Prof.unique()

## How many sections do they teach?

Remember what we have so far. `Prof` is a series of names for each section offered.

In [ ]:
Prof

For this we have many options, but the simplest and fastest one we have is via a method called `value_counts()`. This will return the amount of times the professor's name appears in the list.

In [ ]:
Prof.value_counts()

This is great!
But we can use a plot to show this information in a graphical way

### Making a plot 
We will use Matplotlib's pyplot library for plots

In [ ]:
import matplotlib.pyplot as plt

We first need to extract the information in `Prof.value_counts()` somehow. 

One way is to use `Prof.value_counts().index` to get the names of the professors and use `Prof.value_counts().loc["Professor Name"]` (or `Prof.value_counts().iloc[some number]`) to get the amount of sections.

Here is an example

In [ ]:
R=0 #R indicates the row number in Prof.value_counts() function
print("Amount of sections for", Prof.value_counts().index[R], ":", Prof.value_counts().iloc[R])

Let's store this informaiton into two variable called `Names` and `count`.

In [ ]:
Names=Prof.value_counts().index
Count=[i for i in Prof.value_counts()]

print(Names,"\n",Count)

Let's plot Names vs Amount of sections

In [ ]:
plt.figure(figsize=(12,12))
plt.barh(Names,Count)
plt.xlabel("Sections")
plt.grid(axis='x')
plt.tight_layout()
plt.title("Amount of Sections",fontsize=20)
plt.show()

Great! we have our plot, but it's kinda dull. Let's use the seaborn library to make the plot look extra nice

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(10,12))
sns.countplot(y=Prof)
plt.xticks(fontsize=15)
plt.yticks(fontsize=12)
plt.tight_layout()
plt.title("Amount of sections",fontsize=20)
plt.ylabel("Professor",fontsize=20)
plt.xlabel("Count",fontsize=20)
plt.show()

## How many credits do they have?

For this we can use a combination of methods from pandas. 

We will use the `groupby()` method to find the amount of credits each professor has.


Here's an example

In [ ]:
prf_and_cred.groupby(by="Professor").sum()

Let's save it in a variable for less typing

In [ ]:
cred_data=prf_and_cred.groupby(by="Professor").sum().Credits

In [ ]:
cred_data

### Bar plot of Professors and Credits

In [ ]:
plt.figure(figsize=(10,12))
plt.grid()
sns.barplot(x=cred_data,y=cred_data.index)
plt.xticks(ticks=range(0,max(cred_data)+1),fontsize=10)
plt.title("Amount of credits",fontsize=15)
plt.tight_layout()
plt.show()

# Credits

This material has been made available by [Guillermo Fidalgo](https://github.com/GuillermoFidalgo) for educational purposes.
Please feel free to copy and teach with this material, I only ask for appropiate credit.